<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


    <!--引入properties文件 之后通过${key}的方式方位value-->
    <context:property-placeholder location="jdbc.properties"/>

    <!--设置资源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
        <property name="driverClassName" value="${jdbc.driver}"/>
        <!--<property name="url" value="jdbc:mysql://127.0.0.1:3400/javaweb?serverTimezone=UTC"/>-->
        <property name="url" value="${jdbc.url}"/>
        <!--<property name="username" value="root"/>-->
        <property name="username" value="${jdbc.username}"/>
        <!--<property name="password" value="example"/>-->
        <property name="password" value="${jdbc.password}"/>
        <!--初始化连接池 连接数量-->
        <!--<property name="initialSize" value="10"/>-->
        <!--最大活跃连接数-->
        <!--<property name="maxActive" value="10"/>-->
    </bean>


</beans>