<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="studentOne" class="org.example.spring.pojo.Student"></bean>

    <bean id="studentTwo" class="org.example.spring.pojo.Student">
        <property name="sid" value="12"/>
        <property name="age" value="12"/>
        <property name="sname" value="小明"/>
        <property name="gender" value="男"/>
    </bean>
</beans>